body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.vertical-align > tbody > tr > td {
    vertical-align: middle !important;
}

.modal {
    position: absolute;
}

.btn {
    margin: 2px;
}
